*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #838789;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 700px;
    height: 350px;
    max-width: 90%;
    background-color: white; 
    border-radius: 35px;
}
section img.upload_image {
    width:70%;
}
section.img a {
    margin-top: 30px;
    text-align: center;
    font-size:16px;
    color: #263238
}
section a:hover{
    text-decoration: none;
    color:#446577;
}

section {
    width:50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.img-phone{
    display: none
}

section .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto, sans-serif;
    /* width: 500px;
    height: 60%; */
}

section h1 {
    color:#7CB13E;
    font-weight: 550;
    font-size: 2.5rem;
}
.escolha {
    width: 100%;
}
button.cliente{
    color: white;
    background-color: #263238;
    border: none;
    border-radius: 10px 0 0 10px;
    margin-right:-2px;
    width:50%;
    /* height:30px; */
}
button.empresa{
    color: #263238;
    background-color: rgba(205, 216, 187, 0.6);
    border: none;
    margin-left:-2px;
    border-radius:0 10px 10px 0;
    width:50%;
    /* height:30px; */
    
}

section form {
   display: flex;
   flex-direction: column;
}

form input {
    
    border-radius: 10px;
    background-color: rgba(205, 216, 187, 0.6);
    border:none;
    padding: 6px;
    height:35px;
    
}
input.nome{
    margin-top: 10px;
}
input.email{
    margin: 10px 0;
}
input.senha-confirm{
    margin: 10px 0;
}

::-webkit-input-placeholder {
    color: rgba(38, 50, 56, 0.35);
 }

form input:focus{
    outline: none;
    border-radius:10px;border:1px solid rgba(38, 50, 56, 0.45);
}
section p{
    margin-bottom: 2px;
    font-size:.7rem;
}

form button {
    align-self: center;
    background-color:#7CB13E;
    color:white;
    border:none;
    border-radius:10px;
    height: 30px;
    width: 290px;
    margin-top: 5px;
    
}

form button:focus{
    outline: none;
    border-radius:10px;border:1px solid #547a27;
}

@media (max-width: 700px) {
    section img.upload_image {
        max-height: 100%;
     }
    
     form button {
        
        width: 200px;
    }

}



@media (max-width: 576px) { 

    main .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 700px;
        height: 450px;
        max-width: 90%;
        background-color: white;
        border-radius: 35px;
    }

    h1 {
        display: none;
    }
    

    .img-phone{
        display: flex;
        float: right;
        width:50%;
        margin-bottom: 10px;
    }
    .img-phone h1 {
        display: flex;
    }
        .form{
            /* display: flex; */
            flex-direction:row;
         width: 75%;
     }
     section.img {
        display: none;
    }
    section{
        width: 100%;
    }
      section form {
        width:100%;
     }  
     form button {
        width: 100%;
    } 

  
footer{
    display: none;
}


} 




