*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
   
}

.shadow{
    height: 15px;
    background:
    linear-gradient(180deg, #505a5f, transparent 50%) bottom;
    background-size: 100% 15px;
}

header .container{
    font-family:roboto, sans-serif;
    font-size: 15px;
    max-width: 1360px;
}

.navbar img{
    width: 70px;
}

.nav-item{
    margin-left: 10px;
}

.nav-item2 a::before{
    content: '|';
    margin-right: 35px;
    margin-left: 25px;
}


/* .navbar-collapse.collapse.show {
    background-color: white;
  color: #263238;
} */

@media (max-width: 990px) {

    .nav-item2 a::before{
       display: none;
       
    }
}