*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #838789;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 700px;
    height: 450px;
    max-width: 90%;
    background-color: #E5E5E5;
    border-radius: 35px 35px 0 0 ;
  
}

section.imagem{
    height: 450px;
    border-radius: 35px 35px 0 0 ;
   
}

section.imagem .faixa_perfil_usuario{
    max-width: 100%;
    height: 80px;
    border-radius: 35px 35px 0 0 ;
}

article.usuario{
    width: 100%;
    display: flex;
    flex-direction: row;
}

img.foto{
    z-index: 1;
    width: 100px;
    position: relative;
    top:-70px;
    left: 20px;
}

article.usuario h1{
    width: auto;
    position: relative;
    top: -37px;
    left: 27px;
    font-size:1.6rem;
    font-family:roboto, sans-serif;
    color: white;
}
section.pontuacao{
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    top: 210px;
    padding: 10px;
    height: 25%;
    width: 700px;
    position: absolute;
}

div.card{
    margin: 0 15px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    display: flex;
    background-color:white;
    height: 150px;  
    width:27%;
    font-family: Nunito, sans-serif;
    border-radius: 10px;
    border: 1px solid #B0C2B8;

}

.card .small-logo{
    height: 30%;
    position: absolute;
    top: -20px;
}

.card .bar{
    width:80%;
}

div.card h3{
    color: #ec3d17;
    font-weight: 900;
    font-size: 1.5rem;
}
div.card h2{
    color: #263238;
    font-size: 2rem;
    font-weight: 900;
}

div.card small{
    color: #263238;
    align-self: flex-end;
    margin-right: 20px;
}

div.card-total{
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    display: flex;
    background-color:#263238;
    margin: 0 15px;
    color: white;
    height: 150px;  
    width:27%;
    border-radius: 10px;
}

div.card-total h3{
    font-weight: 900;
    font-size: 1.5rem;
}
div.card-total h2{
    font-size: 2rem;
    font-weight: 900;
}

section.carrossel{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    top: 380px;
    height: 25%;
    width: 700px;
    position: absolute;
}

div.card-img{
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    display: flex;
    background-color:white;
    height: 150px;  
    width:27%;
    font-family: Nunito, sans-serif;
    border-radius: 10px;
    border: 1px solid #B0C2B8;

}

div.card-img img{
    filter: grayscale(100%);
    padding: 40px;
    transition-duration: 0.5s;
}
div.card-img img:hover{
    filter: grayscale(0%);
}

img.arrow {
    height: 10%;
    align-self: center;


}
img.arrow:hover {
    opacity: 0.5;
}
