<%- include('./partials/header') %>
    <link rel="stylesheet" href="../css/cadastroParceiro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <main>
        <div class="container">
            <section class="img">
                <form action="/perfilAdm/cadastroParceiro" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <img src="../images/upload_image.png" id="imgUpload" alt="upload_image" class="upload-image">
                        <label for="fupload" class="control-label label-bordered"><strong>Clique aqui</strong> <br> para escolher um arquivo</label>
                        <div class="nomeArquivo"></div>
                        <input hidden type="file" id="fupload" name="foto" class="fupload form-control" />
                    </div>
            </section>


            <section>
                <div class="form">
                    <h1>Ecocity Parceiros</h1>

                    <div class="form-input empresa " id="f-empresa">
                        <input class="nome" type="text" id="nome" name="name" placeholder="Nome">
                        <input class="cnpj" type="text" id="cnpj" name="cnpj" placeholder="Cnpj">

                        <button type="submit" name="button">ENVIAR CADASTRO</button>
                    </div>
                </div>
                </form>
            </section>

        </div>

        <script src="../javascripts/cadastro.js"></script>

     