<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/cadastro.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

<main>
  <div class="container">
              <section class="img" >
          <form action="/cadastroUsuario" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <img src="./images/upload_image.png" id="imgUpload" alt="upload_image" class="upload-image">
                  <label for="fupload" class="control-label label-bordered"><strong>Clique aqui</strong> <br> para escolher um arquivo</label>
                  <div class="nomeArquivo"></div>
                  <input hidden type="file" id="fupload" name="foto" class="fupload form-control" />
                </div>
              </section>
    
              <section>
                    <div class="form">
                      <h1>Cadastro</h1>
                      <p>Escolha uma opção</p>
                      <div class="escolha">
                        <a href="/cadastroUsuario"><button class="button cliente darkMode"  type="button" name="button-cliente" >Cliente</button></a>
                        <a href="/cadastroEmpresa"><button class="button empresa "  type="button" name="button-empresa" >Empresa</button></a>
                    </div>
                  
                    <div class= "form-input cliente " id="f-cliente">
                      <input class = "nome" type="text" id="nome" name="name" placeholder="Nome">
                      <input class = "cpf" type="text" id="cpf" name="cpf" placeholder="Cpf">
                      <input class = "email" type="text" id="email" name="email" placeholder="E-mail">
                      <input class = "senha" type="password" id="password" name="password" placeholder="Senha" >
                    
                      <button type="submit" name="button">ENVIAR CADASTRO</button>
                    </div>
                  </div>
          </form>
              </section>
</div>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <% if(typeof error !== 'undefined') {%>  
          <script>
            swal("Ops!", "<%= error%>", "error"); 
          </script> 
        <% }  %> 
     

<script src="./javascripts/cadastro.js"> </script>
<%- include('./partials/footer') %>