<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/index.css">


  <main  >
    <img class="bg-img" src="./images/bg_index.png" alt="bg_index">

    <div class="main-text">

      <h1> Recicle e  <br> ganhe prêmios </h1>
      <p>Além dos ganhos ambientais, você <br> também
        colabora com a transformação <br> de catadores 
        e carrinheiros em agentes de <br>reciclagem 
        organizados, possibilitando <br>uma renda digna 
        para muitas familías. </p>
        <a href="/cadastro">
          <button button type="submit" name="button">PARTICIPE</button>
        </a>
    </div>

  </main>

        
<%- include('./partials/footer') %>










