<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/login.css">

  <main>
    <div class="container">
      <section class="img" >
        <img src="./images/login_image.png" alt="login_image" class="login_image">
      </section>
      
      <section>
        <div class="form">
            <h1>Login</h1>
            <form action="/loginEmpresa" method="post">
                <input class = "email" type="email" id="email" name="email" placeholder="E-mail">
                <input class = "senha" type="password" id="senha" name="password" placeholder="Senha" >
                <p>
                  Ainda não tem cadastro?
                  <a  href="/cadastroEmpresa">Clique aqui!</a> 
                </p>
                <button type="submit" name="button">ENTRAR</button>
            </form>
        </div>
      </section>
    
    </div>
  </main>

<%- include('./partials/footer') %>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<% if(typeof error !== 'undefined') {%>  
  <script>
    swal("Ops!", "<%= error%>", "error"); 
  </script> 
<% }  %> 






