<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/perfilAdm.css">
    
  <main>
    <div class="container-main">
      <div class class="header-container">
        <section class="imagem" >
          <img src="/images/faixa_perfil_usuario.png" alt="faixa_perfil_usuario" class="faixa_perfil_usuario">
          <article class="usuario">
            <img src="./images/user-admin.png" alt="upload_imagem" class="foto"> 
            <h1> Administrador</h1>
          </article>
        </section>
      </div>
        <div class="main-container">
            <div class="bg">
            <img src="./images/bg-adm.png" alt="upload_imagem" class="bg-adm"> 
                
            </div>
            <div class="row p-4">
                <div class="col-sm-6">
                    <div class="card text-center" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Cadastro de parceiros</h5>
                            <p class="card-text">Cadastre uma empresa parceira para que o usuario troque seus pontos por vouchers</p>
                            <a href="#" class="btn btn-success">Criar Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-sm-6">
                    <div class="card text-center" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Fazer Buscas</h5>
                            <p class="card-text">Fazer buscas encontrando usuarios e empresas coletoras que foram cadastradas</p>
                            <a href="/perfilAdm/adm" class="btn btn-success">Realizar Buscas</a>
                        </div>
                    </div>
                </div>
            </div>
           



        </div>
        
  </main>
  
  
  

   
  <%- include('./partials/footer') %>