<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/perfilEmpresa.css">
    
  <main>
    <div class = "saudacao">Olá Empresa A</div>
    <div class="container">
      <section class="imagem" >
        <img src="./images/faixa_perfil_usuario.png" alt="faixa_perfil_usuario" class="faixa_perfil_usuario">
        
        <article class="usuario">
          <img src="./images/upload_image.png" alt="upload_imagem_" class="foto"> 
          <h1>Carlos Eduardo Vieira </h1>
        </article>
      </section>
      <section class="pontuacao">

        <div class="card">
          <img class="small-logo" src="./images/cards-img.png" alt="small-card">
          <h3>Quiz</h3>
          <h2>500 pts</h2>
          <small>50%</small>
          <img class="bar" src="./images/bar-50.png" alt="progress-bar">
        </div>

        <div class="card">
          <img class="small-logo" src="./images/recicling-img.png" alt="recicling-card">
          <h3>Reciclagem</h3>
          <h2>500 pts</h2>
          <small>65%</small>
          <img class="bar" src="./images/bar-65.png" alt="progress-bar">
        </div>

        <div class="card-total">
          <h2>Total</h2>
          <h2>1000 pts</h2>
        </div>
        <!-- ------------------- versão mobile-----------------------------  -->
        <div class="card-total-mobile">
          <h2>Total 1000 pts</h2>
        </div>
      </section>

      <h3 class="parceiro">Troque já seus pontos com nossos parceiros</h3>

      <section class="carrossel">
        <img class="arrow" src="./images/arrow-back.png" alt="back">
        <div class="card-img">
          <img src="./images/lg_1.png" class="d-block w-100" alt="...">
        </div>

        <div class="card-img">
          <img src="./images/lg_2.png" class="d-block w-100" alt="...">
        </div>

        <div class="card-img">
          <img src="./images/lg_3.png" class="d-block w-100" alt="...">
        </div>
        <img class="arrow" src="./images/arrow-front.png" alt="front">
      </section>
    </div>
      <!-- ------------------- fim da versão mobile-----------------------------  -->
    </main>
    <section class="carrossel-mobile">
      <img class="arrow" src="./images/arrow-back.png" alt="back">
      <div class="card-img">
        <img src="./images/lg_1.png" class="d-block w-100" alt="...">
      </div>
  
        <div class="card-img">
          <img src="./images/lg_2.png" class="d-block w-100" alt="...">
        </div>
  
        <img class="arrow" src="./images/arrow-front.png" alt="front">
    </section>

<%- include('./partials/footer') %>