<%- include('./partials/header') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@5.4.0/keen-slider.min.css"/>
<link rel="stylesheet" href="./css/perfilUsuario.css">
    
  <main>
    <div class="container">
      <div class class="header-container">
        <section class="imagem" >
          <img src="./images/faixa_perfil_usuario.png" alt="faixa_perfil_usuario" class="faixa_perfil_usuario">
          <article class="usuario">
            <img src="./post/<%= usuario.imagem %> " alt="upload_imagem" class="foto"> 
            <h1> <%= user.nome %>  </h1>
          </article>
        </section>
      </div>
      <div class="main-container">
        <section class="pontuacao">
          <div class="card">
            <div class="content">
              <img class="small-logo" src="./images/recicling-img.png" alt="recicling-card">
              <h3>Reciclagem</h3>
              <h2>500 pts</h2>
              <div class="bar"> 
                <div class ="progress-bar"> 
                  <span>65</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="historico">
              <h2> Histórico de Reciclagem </h2>
          </div>
          <!-- ------------------- versão mobile-----------------------------  -->
          <div class="historico-mobile">
            <h2> Histórico de Reciclagem </h2>
          </div>
        </section>
        <span class="parceiro">Troque já seus pontos em um de nossos parceiros</span>
          
          
        <section class="parceiros">
          <article id="my-keen-slider" class="keen-slider">
            
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_1.png" alt="...">
            </div>
            
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_2.png" alt="...">
            </div>
            
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_3.png" alt="...">
            </div>
  
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_4.png" alt="...">
            </div>
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_3.png" alt="...">
            </div>
            <div class="keen-slider__slide number-slide">
              <img class="img-parceiro" src="./images/lg_2.png" alt="...">
            </div>
          </article>
      </section>

      </div>
    </div>
  </main>

  
  <script src="https://cdn.jsdelivr.net/npm/keen-slider@5.4.0/keen-slider.min.js"></script>

    <script>
      var slider = new KeenSlider("#my-keen-slider", {
        spacing: 25,
        slidesPerView: 1,
        centered: true,
        loop: true,
        mode: "snap",
        breakpoints: {
          "(min-width: 455px)": {
            slidesPerView: 2,
            mode: "free-snap",
          },
          "(min-width: 768px)": {
            slidesPerView: 3,
            mode: "free-snap",
          },
          "(min-width: 1200px)": {
            slidesPerView: 4,
            mode: "free-snap",
          },
        },
      })
    </script>
  <%- include('./partials/footer') %>