<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/perfilAdm.css">
    
  <main>
    <div class="container">
      <div class class="header-container">
        <section class="imagem" >
          <img src="/images/faixa_perfil_usuario.png" alt="faixa_perfil_usuario" class="faixa_perfil_usuario">
          <article class="usuario">
            <img src="/images/upload_image.png" alt="upload_imagem" class="foto"> 
            <h1> Perfil Admin</h1>
          </article>
        </section>
      </div>
      <div class="main-container">
        
  </main>
  
  
  

   
  <%- include('./partials/footer') %>