<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/perfilAdm.css">
    
  <main>
    <div class="container">
      <div class class="header-container">
        <section class="imagem" >
          <img src="/images/faixa_perfil_usuario.png" alt="faixa_perfil_usuario" class="faixa_perfil_usuario">
          <article class="usuario">
            <img src="/images/upload_image.png" alt="upload_imagem" class="foto"> 
            <h1> Perfil Admin</h1>
          </article>
        </section>
      </div>
      <div class="main-container">
       
          <div class="container">
            <div class="card-deck">
              <div class="card text-center">
                  <div class="card-block">
                      <h4 class="card-title">Permits</h4>
                      <p class="card-text">
                          Apply for parking permit<br />
                          View existing permit requests<br />
                          Activate Visitor permits<br />
                      </p>
                  </div>
                  <div class="card-footer">
                      @Html.ActionLink("Permits", "Index", "Home", new { Area = "Permit" }, new { @class = "btn btn-primary" })
                  </div>
              </div>

              <div class="card text-center">
                  <div class="card-block">
                      <h4 class="card-title">Vehicles</h4>
                      <p class="card-text">
                          View and manage your vehicles
                      </p>
                  </div>
                  <div class="card-footer">
                      @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
                  </div>
                  <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title">Vehicles</h4>
                        <p class="card-text">
                            View and manage your vehicles
                        </p>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                
              </div>
              <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">Vehicles</h4>
                    <p class="card-text">
                        View and manage your vehicles
                    </p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
                </div>
                <div class="card text-center">
                  <div class="card-block">
                      <h4 class="card-title">Vehicles</h4>
                      <p class="card-text">
                          View and manage your vehicles
                      </p>
                  </div>
                  <div class="card-footer">
                      @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
                  </div>
              </div>
              
            </div>
            <div class="card text-center">
              <div class="card-block">
                  <h4 class="card-title">Vehicles</h4>
                  <p class="card-text">
                      View and manage your vehicles
                  </p>
              </div>
              <div class="card-footer">
                  @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
              </div>
              <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">Vehicles</h4>
                    <p class="card-text">
                        View and manage your vehicles
                    </p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("My Vehicles", "Index", "Vehicle", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            
          </div>
            </div>
          </div>
        
  </main>
  
  
  

   
  <%- include('./partials/footer') %>