<%- include('./partials/header') %>
<link rel="stylesheet" href="./css/sobrenos.css">

  <main>
    <div class="container">
      <section class="titulo"><h1>Conheça Nossa Equipe</h1></section>
        <section>
          <img class="fotos"src="./images/Kadu.jpeg">
          <article>
              <h2>Carlos Eduardo Vieira </h2>
              <p>Com mais de 20 anos de experiência no mercado de desenvolvimento de embalagens e produtos gráficos. 
                Descobriu sua paixão pelo empreendedorismo e teve a oportunidade de participar em empresas de vários segmentos como estética, clínicas especializadas em harmonização facial, estacionamentos e comércio online.
                Atualmente interessado no segmento de desenvolvimento web.</p>
          </article>
      </section>
      <section>
        <img class="fotos" src="./images/Inglide.jpeg">
        <article>
          <h2>Inglide Noberto </h2>
          <p>Formada em técnico de programação aos 16 anos, precisou abandonar o sonho de ser desenvolvedora para poder viver outras experiências. Após quase 7 anos viu a oportunidade de retornar ao segmento de programação e se tornar a desenvolvedora que almejava.</p>
       </article>
      </section>
      <section>
        <img class="fotos" src="./images/Ju.jpeg">
        <article>
          <h2>Juliana Bastos </h2>
          <p>Formada em Processamento de Dados aos 18 anos, precisou abandonar tudo pela família.
            Fotógrafa e designer a 16 anos, estudou moda, foi produtora de festas e se formou Comissária da Voo. Por causa da pandemia resolveu tirar de vez da gaveta a vontade de aprender programação.</p>
        </article>
      </section>
      <section>
        <img class="fotos" src="./images/Pam.jpeg">
        <article>
          <h2>Pâmela Silva </h2>
          <p>Pós-graduanda em Gestão de Projetos - USP <br>
            Atuante no setor bancário, sempre gostou de tecnologia, de aprender coisas novas e compartilhar conhecimentos. </p>
        </article>
      </section>
      <section>
        <img class="fotos" src="./images/Rapha.jpeg">
        <article>
          <h2>Raphaela Machado </h2>
          <p>Formada em Sistemas de Informação mas nunca atuou na área. Trabalha no ramo televiviso a 8 anos e para dar continuedade a sua formação acadêmica interessou-se pelo curso de desenvolvimento web.  </p>
        </article>
      </section>
      <section>
        <img class="fotos" src="./images/Vini.jpeg">
        <article>
          <h2>Vinicios Mascarenhas</h2>
          <p>Um estudante de engenharia mecatronica 
            <br>com 18 anos que sempre foi apaixonado </br>
            por tecnologia e quer sempre aprender <br>
            mais e mais sobre!</br>
           </p>
        </article>
      </section>
      <br>
      
  </main>  

<%- include('./partials/footer') %>
