<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/vouchers.css">

</head>

<body>

    <div class="container">
        <section>
            <img class="fotos" src="../public/images/LOGOAMERICANAS.JPG ">
        </section>

        <div class="container ">
            <div class="card ">
                <img class="fotos " src="../public/images/10AMERICANAS.JPG ">
                <div class="card-content ">
                    <spam class="card-desc ">
                        *Válido nas compras acima de 100 reais.
                    </spam>
                </div>
            </div>
            <div class="card ">
                <img class="fotos " src="../public/images/30AMERICANAS.JPG ">
                <div class="card-content ">
                    <spam class="card-desc ">
                        *Válido nas compras acima de 200 reais.
                    </spam>
                </div>
            </div>
            <div class="card ">
                <img class="fotos " src="../public/images/50AMERICANAS.JPG ">
                <div class="card-content ">
                    <spam class="card-desc ">
                        *Válido nas compras acima de 300 reais.
                    </spam>
                </div>
            </div>

        </div>
        <h1 class="subtitle ">Como utilizar o Cupom de Desconto:</h1>
        <ol>
            <li>Para utilizar o cupom de desconto na loja da Americanas, utilize o código informado.</li>
            <li>Quando você já estiver com os produtos no carrinho, confira sua compra e clique no botão “COMPRAR”</li>
            <li>Faça o login no site e siga para a página de pagamento.</li>
            <li>Na etapa de Pagamento, desça a tela e clique em “possui cupom ou vale?” (ela fica logo acima de formas de pagamento). Abrirá um novo campo para você colocar o código, então coloque o cupom e clique em “aplicar”. Pronto, observe o desconto
                ser aplicado no total da compra.</li>
        </ol>
    </div>
    </div>

</body>

</html>