*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #838789;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82vh;
    
}

.container-main{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    height: 90%;
    width: 80%;
    margin:auto;
    background-color: #E5E5E5;
    border-radius: 10px 10px 0 0;

    min-height: 450px;
}


section.imagem {
    height: 80px;
}

section.imagem .faixa_perfil_usuario {
    max-width: 100%;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
}

article.usuario{
    width: 100%;
    display: flex;
}

img.foto{
    z-index: 1;
    width: 85px;
    position: relative;
    top:-70px;
    left: 20px;
    border-radius: 85px;
}
.bg{
    width:40%
}
.bg-adm{
    width: 80%;
}

article.usuario h1{
    width: auto;
    position: relative;
    top: -37px;
    left: 25px;
    font-size:1.6rem;
    font-family:roboto, sans-serif;
    color: white;
}
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    /* flex-direction: column; */   
    justify-content: center;
    align-items: center;
} 
.card-title{
    font-size: 1.1rem;
    color: #263238;
    font-weight: bold;
}
.card-text{
    font-size: .7rem;
    color: #263238;
}