*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #838789;
    height: 100vh;
    background-image: url(../images/TeamBorder.png);
    background-repeat: no-repeat;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

main .container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #faf9f969;
    border-radius: 35px 35px 0px 0px ;
    background-image: url(../images/Team.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 49%; 
}
section{
    padding: 10px;
    width: 80%;
    align-items: center;

}
.titulo{
    margin-left: 300px;
    display: flex;
    position: relative;
    align-self: center;

}

h1{
        
    align-self: center;
    font-family: Nunito;
    font-weight: bold;
    font-size: 3.7rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(90, 127, 60);
}

 .fotos {

     float:left;
     width: 200px;
     height: 300px; 
     border-radius: 35px 35px 35px 35px ;   
     border: thin solid;
 }

 article{
    align-self: center;
    position: relative;
    left: 27px;
    margin-top: 40px;
    font-size:  1.3em;
    font-family:roboto, sans-serif;
    color: rgb(0, 0, 0);
}
 

h2{
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 1000px){    

    body, main{
       height: auto;
       width: auto;

    }
    
      article, h2 {
        display: flex;
        flex-direction: column;
        position: relative;
        float: none;
        width: 100%;
        margin-top: 20px;        
}

.titulo{
 
    margin-left: 20px;
}

}
